# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Coverage reports
coverage/

# Optional npm cache directory
.npm/

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Other files
package-lock.json
yarn-error.log


/key.pem
